[submodule "GandRL_for_NPS"]
	path = GandRL_for_NPS
	url = git@github.com:LotFullKa/GandRL.git
[submodule "lab_work_3"]
	path = lab_work_3
	url = git@github.com:LotFullKa/ConsensusShedule.git
[submodule "LLM_Distill_Research"]
	path = LLM_Distill_Research
	url = git@github.com:LotFullKa/LLM_Distill_Research.git
